div {
    max-width: 600px;
    border: 1px solid gray;
    margin: auto;
    padding: 100px;
    line-height: 1.5;
}

header {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.2rem;
}

h2 {
 color: #006eb6;
}

footer {
    text-align: center;
}

img {
    width: 150px;
}